@using HomeEasy.Enums
@using System.Security.Claims
@using HomeEasy.Extensions
@model IEnumerable<HomeEasy.Models.Ad>

@{
    ViewData["Title"] = "Clientes";
    var currentPage = ViewBag.CurrentPage;
    var totalPages = ViewBag.TotalPages;
}

<div class="container mt-5">
    <h1 class="text-center mb-5">@ViewData["Title"]</h1>

    @if (User.IsInRole(UserType.Client.GetDescription()))
    {
        <div class="text-center mb-4">
            <a asp-action="Create" class="btn btn-primary">Fazer anúncio</a>
        </div>
    }

    <div class="row">
        @foreach (var ad in Model)
        {
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4 shadow-sm" style="width: 100%; height: 500px; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="d-flex justify-content-center align-items-center" style="height: 180px; overflow: hidden;">
                        <img src="@($"data:image/jpeg;base64,{ad.User.Photo}")" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" alt="Photo" />
                    </div>
                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">@ad.User.Name</h5>
                            <p class="card-text"><strong>Precisa de:</strong> @ad.Job</p>
                            <hr />

                            @{
                                var rating = ad.User.Reviews.GetUserRating();
                                var reviewsCount = ad.User.Reviews.Count;

                                <div class="card-text">
                                    <strong>Nota:</strong>
                                    @if (rating == 0)
                                    {
                                        <span>Não possui avaliações</span>
                                    }
                                    else
                                    {
                                        <span>
                                            @for (int i = 0; i < rating; i++)
                                            {
                                                <i class="fa fa-star" style="color: gold; font-size: 25px;">★</i>
                                            }
                                            <span class="ml-2">(@reviewsCount)</span>
                                        </span>
                                    }
                                </div>
                            }

                            <h6 class="card-subtitle mb-2 text-primary">@ad.Title</h6>
                            <p class="card-text">
                                @{
                                    var description = ad.Description.Length > 100
                                    ? $"{ad.Description.Substring(0, 100)}..."
                                    : ad.Description;
                                }
                                <strong>Descrição:</strong> @description
                            </p>
                        </div>
                        <div class="mt-auto">
                            @{
                                var message = $"Olá, me chamo {User.Identity.Name}! Vi seu anúncio precisando de {ad.Job} no HomeEasy. Eu sou {ad.Job}! Como posso te ajudar?";
                                var whatsappUrl = $"https://wa.me/{ad.User.Phone}?text={Uri.EscapeDataString(message)}";

                                @if (User.IsInRole(UserType.Worker.GetDescription()))
                                {
                                    <a href="@whatsappUrl" target="_blank" class="btn btn-sm btn-success">WhatsApp</a>
                                }
                            }

                            <a asp-action="Details" asp-route-id="@ad.Id" class="btn btn-sm btn-outline-secondary">Detalhes</a>

                            @if (User.IsInRole(UserType.Admin.GetDescription()))
                            {
                                <a asp-action="Delete" asp-route-id="@ad.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                            }

                            @if (User.IsInRole(UserType.Worker.GetDescription()) && ad.User.Id.ToString() != User.FindFirstValue(ClaimTypes.SerialNumber))
                            {
                                <a asp-action="Details" asp-route-id="@ad.Id" class="btn btn-sm btn-danger">Contratar</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Clients"
                       asp-route-page="@(currentPage - 1)">Anterior</a>
                </li>
            }
            @for (var i = 1; i <= totalPages; i++)
            {
                if (i == currentPage)
                {
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Clients" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Clients"
                       asp-route-page="@(currentPage + 1)">Próximo</a>
                </li>
            }
        </ul>
    </nav>
</div>