@model HomeEasy.Models.Ad

@{
    ViewData["Title"] = "Excluir Anúncio";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Confirmação de Exclusão</h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center mb-4">Você tem certeza que deseja excluir este anúncio?</h3>
                    <h5 class="text-center mb-4">Caso exclua não será reembolsado o valor do anúncio e não poderá fazer outro anúncio sem uma nova compra.</h5>
                    <div class="mb-4">
                        <h4>Detalhes do Anúncio</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.StartDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.StartDate)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.EndDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.EndDate)
                            </dd>
                        </dl>
                    </div>

                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger btn-lg">Excluir</button>
                            <button onclick="this.disabled=true; history.back();" class="btn btn-outline-secondary btn-lg ms-3">Voltar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}