@using HomeEasy.Enums
@using HomeEasy.Extensions
@using System.Security.Claims
@model HomeEasy.Models.Ad

@{
    ViewData["Title"] = "Detalhes do Anúncio";

    var message = $"Olá, me chamo {User.Identity.Name}! Vi seu anúncio de {Model.Job} no HomeEasy. Poderia me ajudar?";
    var whatsappUrl = $"https://wa.me/{Model.User.Phone.NormalizePhoneNumber()}?text={Uri.EscapeDataString(message)}";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-light text-center">
                    <h4 class="card-title text-dark">@Model.Title</h4>
                </div>
                <div class="card-body text-center">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <img src="data:image/jpeg;base64,@Model.User.Photo" alt="Foto do Usuário" class="rounded-circle mb-3" width="150" height="150">
                            @{
                                var rating = Model.User.Reviews.GetUserRating();
                                var reviewsCount = Model.User.Reviews.Count;

                                <div class="card-text">
                                    @if (rating == 0)
                                    {
                                        <span>Não possui avaliações</span>
                                    }
                                    else
                                    {
                                        <span>
                                            @for (int i = 0; i < rating; i++)
                                            {
                                                <i class="fa fa-star" style="color: gold; font-size: 25px;">★</i>
                                            }
                                            <span class="ml-2">(@reviewsCount)</span>
                                        </span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-md-8 text-md-left text-center">
                            <h5>@Model.User.Name</h5>
                            <p class="text-muted">E-mail: @Model.User.Email</p>
                            <p class="text-muted">Gênero: @Model.User.Gender</p>
                            <p class="text-muted">Telefone: @Model.User.Phone</p>
                            <p class="text-muted">Localidade: @Model.User.City, @Model.User.State, @Model.User.Country</p>
                        </div>
                    </div>

                    <hr />

                    <h5 class="mb-3">Detalhes do Trabalho</h5>

                    <p><strong>@(Model.User.Type == UserType.Client ? "Precisa de :" : "Trabalho:")</strong> @Model.Job</p>
                    <p><strong>Descrição:</strong> @Model.Description</p>
                </div>
                <div class="card-footer text-center">
                    @if (User.IsInRole(UserType.Worker.GetDescription()) && Model.User.Type.Equals(UserType.Client)
                    || User.IsInRole(UserType.Client.GetDescription()) && Model.User.Type.Equals(UserType.Worker))
                    {
                        <a href="@whatsappUrl" target="_blank" class="btn btn-success">WhatsApp</a>
                    }
                    <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.User.Id" class="btn btn-primary">Ver perfil</a>
                    @if (!User.IsInRole(Model.User.Type.GetDescription()) && Model.User.Id.ToString() != User.FindFirstValue(ClaimTypes.SerialNumber))
                    {
                        <form asp-action="Create" asp-route-adId="@Model.Id" asp-controller="Contracts" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Contratar</button>
                        </form>
                    }
                </div>
            </div>
            <br />
            <div class="text-center">
                <button onclick="this.disabled=true; history.back();" class="btn btn-secondary">Voltar</button>
            </div>
        </div>
    </div>
</div>
