@using System.Security.Claims
@model IEnumerable<HomeEasy.Models.Ad>

@{
    var currentPage = ViewBag.CurrentPage ?? 1;
    var totalPages = ViewBag.TotalPages ?? 1;
    var userId = User.FindFirstValue(ClaimTypes.SerialNumber);

    var userAccount = userId == ViewBag.User.Id.ToString();

    ViewData["Title"] = userAccount ? "Meus Anúncios" : $"Anúncios de {ViewBag.User.Name}";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    @if (userAccount)
    {
        if (ViewBag.UserAvailableAds > 0)
        {
            <div class="text-center mb-4">
                <a asp-action="Create" class="btn btn-primary">Fazer anúncio</a>
            </div>
        }
        else
        {
            <div class="text-center mb-4">
                <a asp-action="Buy" class="btn btn-primary">Comprar anúncio</a>
            </div>
        }
    }
    @if (Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-nowrap">Título</th>
                        <th class="text-nowrap">Descrição</th>
                        <th class="text-nowrap">Trabalho</th>
                        <th class="text-nowrap">Data de Início</th>
                        <th class="text-nowrap">Data de Término</th>
                        <th class="text-nowrap">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ad in Model)
                    {
                        <tr>
                            <td class="text-nowrap" style="max-width: 150px; overflow: hidden; text-overflow: ellipsis;" title="@ad.Title">@ad.Title</td>
                            <td class="text-nowrap" style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;" title="@ad.Description">@ad.Description</td>
                            <td class="text-nowrap">@ad.Job</td>
                            <td class="text-nowrap">@ad.StartDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-nowrap">@ad.EndDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">
                                <a asp-action="Details" asp-route-id="@ad.Id" class="btn btn-sm btn-outline-secondary">Detalhes</a>
                                @if (userAccount)
                                {
                                    <a asp-action="Edit" asp-route-page="@ViewBag.CurrentPage" asp-route-id="@ad.Id" class="btn btn-primary btn-sm">Editar</a>
                                    <a asp-action="Delete" asp-route-id="@ad.Id" class="btn btn-danger btn-sm">Excluir</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="UserAds" asp-route-id="@userId" asp-route-page="@(currentPage - 1)">Anterior</a>
                    </li>
                }
                @for (var i = 1; i <= totalPages; i++)
                {
                    if (i == currentPage)
                    {
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="UserAds" asp-route-id="@userId" asp-route-page="@i">@i</a>
                        </li>
                    }
                }
                @if (currentPage < totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="UserAds" asp-route-id="@userId" asp-route-page="@(currentPage + 1)">Próximo</a>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <h3 class="text-center">Nenhum anúncio encontrado.</h3>
    }

    <div class="text-center mt-4">
        @if (userAccount)
        {
            <a asp-controller="Users" asp-action="Details" asp-route-id="@userId" class="btn btn-secondary">Voltar para perfil</a>
            <a asp-action="MyExpiredAds" class="btn btn-primary">Ver Anúncios Expirados</a>
        }
        else
        {
            <button onclick="this.disabled=true; history.back();" class="btn btn-secondary">Voltar</button>
        }
    </div>
</div>