@using System.Security.Claims
@model IEnumerable<HomeEasy.Models.Contract>

@{
    ViewData["Title"] = "Contratos pendentes";
}

@if (Model.Any())
{
    <div class="container mt-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">
                            Contratante
                        </th>
                        <th class="text-center">
                            Contratado
                        </th>
                        <th class="text-center">
                            Trabalho
                        </th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contract in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => contract.Contractor.Name)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => contract.Contractee.Name)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => contract.Ad.Job)
                            </td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@contract.Id">Detalhes</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@contract.Id">Cancelar</a>

                                @if (contract.Contractor.Id.ToString() != User.FindFirstValue(ClaimTypes.SerialNumber))
                                {
                                    <form asp-action="ApproveContract" asp-route-id="@contract.Id" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-sm btn-success">Aprovar</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h1 class="text-center">Nenhum contrato pendente encontrado.</h1>
}